langchain
langchain_community
langchain-google-genai
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
langchain_chroma 
chromadb 
langchain_groq
langchain_chroma
pysqlite3-binary
